* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background-color: rgb(54, 151, 54);
}

.container {
  width: 250px;
  height: 350px;
  margin: auto;
  margin-top: 20px;
  background-color: rgb(54, 151, 54);
}

.flex-container {
  display: flex;
  box-shadow: 5px 5px 5px #585757;
  height: 350px;
  border-radius: 20px;
  background-color: #fff;
  justify-content: center;
}

.item {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  width: 100px;
  height: 100px;
  background: #fff;
  margin: 10px;
  font-size: 5.5rem;
}

.red {
  color: red;
}

.item:nth-of-type(1) {
  align-self: start;
}
.item:nth-of-type(2) {
  align-items: center;
  align-self: center;
  font-size: 9rem;
}
.item:nth-of-type(3) {
  align-items: start;
  align-self: end;
  transform: scaleY(-1);
}
